#principalAdjust{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(228, 255, 246);
}

#ventanaAdjustP{
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 255, 250);
}

#contenedorSolicitudes{
    display: flex;
    align-items: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75%;
    background-color: rgb(192, 245, 245);
    border-style: inset;
    border-color: rgb(127, 255, 244);
    border-radius: 30px;
}

#CambiarContraseña{
    margin-top: 40px;
}

#menuHamburguesaAd{
    display: flex;
    font-size: 50px;
    background: none;
    border-style: none;
    justify-content: flex-end;
    background-color: rgb(241, 255, 250);
}

#contenedorInputAd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

#botonGuardar{
    width: 60%;
    height: 50px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    margin-top: 40px;
}

.inputContraseñaN{
    width: 90%;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.inputContraseñaA{
    margin-top: 40px;
    width: 90%;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 60px;
}