#containerPrincipal{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("src/Logo/images (1).jpeg");
    background-size: cover;
    background-position: center;
}

#centro{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    background-image: url("src/Logo/fondo-verde-azul-fondo-verde-claro_613001-4963.jpg");
    background-size: cover;
    background-position: center;
    color:rgb(19 51 42);
    margin-bottom: 20px;
}

#centro h5{
    text-align: center;
    font-size: 15px;
}

#centro button{
    margin-bottom: 15px;
}

.inputPrestamo {
    width: 57%;
    height: 10%;
    border-radius: 8px;
}

#registraPrestamo{
    border-radius: 15px;
    width:30%;
    color:white;
    background-color: rgb(97 143 130);
    font-weight: bolder;
}
