#principalRecuperacion{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(228, 255, 246);
}

#ventanaRecuperacionP{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
    width: 100%;
    margin-top: 25px;
}

#contenedorSolicitudesRe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 70%;
    background-color: rgb(192, 245, 225);
    border-style: inset;
    border-color: rgb(127, 255, 206);
    border-radius: 30px;
}

#menuHamburguesaRe{
    display: flex;
    font-size: 30px;
    background: none;
    border-style: none;
    background:none;
}

#alignRe{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-right: 30px;

}

#contenedorInputRe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 90%;
    gap: 20px;
    margin-top: 10px;
}

#botonGuardarRe{
    width: 15%;
    height: 50px;
    background-color: rgb(92, 194, 143);
    border-radius: 25px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    font-weight: bold;
}

.numeroCuenta{
    width: 60%;
    height: 40px;
    border-radius: 10px;
}

.nuevaContrasenaRe{
    width: 60%;
    height: 40px;
    border-radius: 10px;
}
